$gray: #2f3136; // 47 49 54
$lightGray: #D1D1D1; // 209 209 209
$lightBlue: #33C3F0; // 51 195 240
$red: #861C06; // 134 28 6
$lightred: #2c97de70; // 44 151 222 0.44
$blue: #2c97de; // 44 151 222
$parchment: #E6D19C; // 230 209 156