@use 'variables' as v;

.displayCard {
    background-color: v.$parchment;
    margin: 5px 5px 5px 0;
    padding: 0.5rem 1rem;
    font-size: 1.5rem;
    display: inline-block;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    column-gap: 0.5rem;
    position: relative;
    border-top: 5px double v.$red;
    border-bottom: 5px double v.$red;
    border-radius: 0 3px 3px 3px;
    width: 45rem;

    h4,
    .h4 {
        font-size: 1.5em;
        margin: 0;
        color: #861C06;
        font-weight: bold;
        column-span: all;
    }

    h5 {
        font-size: 1.5em;
        margin: 0;
        color: #861C06;
    }

    p {
        padding: 0;
    }

    hr {
        height: 2px;
        background-color: #861C06;
        border: 0;
        margin-right: 1rem;
        clip-path: polygon(100% 50%, 0 0, 0 100%);
    }

    hr.thin {
        height: 0.5px;
        clip-path: none;
    }

    section {
        margin: 5px 0;
    }

    span {
        padding-right: 1rem;
        white-space: nowrap;
    }
}

.displayCardInfo {
    background-color: #ebe2d3;
    width: 3rem;
    text-align: center;
    border-top: 1px solid v.$red;
    border-bottom: 1px solid v.$red;
    display: inline-block;
    margin: 5px 0 5px 5px;
    vertical-align: top;
    border-radius: 3px 0 0 3px;
}

.entity {
    margin-bottom: 20px;
}

.displayCardControls {
    width: 50rem;
    padding: 0rem 1rem;
    margin: 0 5px;

    svg {
        width: 3rem;
        height: 3rem;
        margin: 5px;
    }

    .controls {
        display: flex;
        justify-content: space-evenly;
        padding: 0.5rem 0;
    }

    .suboptions {
        padding: 1rem 0;
        display: flex;
        justify-content: left;

        span {
            margin: 0 1rem;
        }

        p {
            margin: 0;
            padding: 0;
            text-align: center;
            font-size: small;
        }

        svg {
            width: 1.5rem;
            height: 1.5rem;
            margin: auto;
        }

        button,
        input[type="number"] {
            height: 3rem;
            margin-top: 0.25rem;
            vertical-align: top;
            border: ridge 1px v.$gray;
        }

        button {
            width: 3rem;
            font-size: 2.5rem;

            &.icon {
                height: 5rem;
                width: 6rem;
                font-size: 1rem;

                svg {
                    width: 2rem;
                    height: 2rem;
                }
            }

            &.leftButton {
                border-top-left-radius: 5px;
                border-bottom-left-radius: 5px;
            }

            &.rightButton {
                border-top-right-radius: 5px;
                border-bottom-right-radius: 5px;
            }
        }

        input[type="text"],
        input[type="number"] {
            width: 6rem;
            box-sizing: border-box;
            padding-left: 5px;

            &.curveLeft {
                border-top-left-radius: 5px;
                border-bottom-left-radius: 5px;
            }

            &.curveRight {
                border-top-right-radius: 5px;
                border-bottom-right-radius: 5px;
            }
        }

        textarea {
            width: 30rem;
            resize: none;
            font-size: inherit;
            line-height: 1.2;
            padding: 4px;
            border-radius: 5px;
            margin-right: 2rem;
        }

        .conditionCheckBoxes {
            column-count: 4;
            font-size: 1.25rem;
        }
    }
}


.active .displayCard {
    border-top-width: 5px;
    border-top-style: solid;
    border-bottom-width: 5px;
    border-bottom-style: solid;
    border-left: 1px solid v.$red;
    border-right: 1px solid v.$red;
    border-radius: 0 5px 5px 5px;
    position: relative;
}

.overview {
    .displayCard {
        border-bottom-left-radius: 0;

        section {
            margin-top: 0;
        }
    }

    .displayCard,
    .displayCardControls {
        width: 20rem;
    }

    .displayCard,
    .displayCardInfo {
        height: 6rem;
        border-width: 2px;
    }

    .displayCardInfo {
        margin: 5px 0 5px 0;
        padding: 0.5rem;
        width: 2.5rem;

        input {
            width: 2rem;
            text-align: center;
            border-radius: 5px;
            line-height: 2.5rem;
            margin-top: 1.25rem;
        }

        label {
            opacity: 0.75;
            font-size: 1.25rem;
        }
    }
}

.spellsControl {
    display: flex;

    label {
        font-size: 1.5rem;
    }
}

.activeConcentration {
    position: absolute;
    top: 5px;
    right: 15px;
}