.p-checkbox {
    margin: 2px 5px 2px 0; // align better
    scale: 0.8; // make a little smaller
}

.p-button-icon-only { // buttons with only an icon
    padding: 2px;
    height: fit-content;
    width: fit-content;

    svg {
        width: 3rem;
        height: 3rem;
        padding: 0;
    }
}