@use 'variables' as v;

.table {
    font-size: 1.6rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;

    input {
        margin: 0 5px;
        border-radius: 2px;
        padding: 2px;
    }

    input[type="text"] {
        width: 8rem;
    }

    table.medium input[type="text"] {
        width: 10rem;
    }
    
    table.large input[type="text"] {
        width: 12rem;
    }

    input[type="number"] {
        width: 2.5rem;
        text-align: center;
    }

    select {
        width: 10rem;
    }

    &.medium select {
        width: 12rem;
    }

    &.large select {
        width: 14rem;
    }

    th,
    tr,
    td {
        padding: 2px 5px;
        max-width: 10rem;
    }

    td {
        font-size: 1.25rem;
    }

    &.medium td {
        font-size: 1.5rem;
    }

    &.large td {
        font-size: 1.75rem;
    }

    .tableMeta {
        display: flex;
        justify-content: space-between;
        margin-top: 1rem;
        font-size: 1.25rem;

        section {
            display: flex;
            gap: 3px;
        }
    }

    &.medium .tableMeta {
        font-size: 1.35rem;
        margin-top: 2rem;
    }

    &.large .tableMeta {
        font-size: 1.5rem;
        margin-top: 3rem;
    }
}

.smalltext {
    font-size: 1.5rem;
    color: v.$gray;
    font-weight: normal;
}